@import '../../../components/style/themes/default';

.@{iconfont-css-prefix},
.icon {
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{c7n-pro-prefix}-select-suffix,
.@{c7n-pro-prefix}-select-prefix {
  .@{iconfont-css-prefix},
  .icon {
    font-size: inherit;
    line-height: 1;
  }
}

.@{c7n-pro-prefix}-select-expand .@{c7n-pro-prefix}-select-trigger {
  transform: rotate(180deg);
}

.@{c7n-pro-prefix}-btn {
  > .@{iconfont-css-prefix},
  > .icon {
    line-height: 1;
  }
}
