@import '../../../components/style/index.less';

.@{c7n-pro-prefix}-btn {
  > .icon {
    line-height: 1;
  }
}

.@{c7n-pro-prefix}-select-suffix,
.@{c7n-pro-prefix}-select-prefix {
  .icon {
    font-size: inherit;
    line-height: 1;
  }
}
