@import '../../../components/style/themes/default';

@table-prefix-cls: ~'@{c7n-pro-prefix}-table';
@form-prefix-cls: ~'@{c7n-pro-prefix}-form';
@field-prefix-cls: ~'@{c7n-pro-prefix}-field';

.@{table-prefix-cls}-professional-query-bar {
  align-items: flex-start;

  .@{form-prefix-cls} {
    flex: 1;
    min-width: 0;
  }

  .@{field-prefix-cls} {
    display: block;
    width: 100%;
  }
}
