@import '../../../components/style/themes/default';

@pagination-pager-btn-height: 0.24rem;
@pagination-pager-btn-min-width: 0.24rem;
@pagination-pager-btn-color: #595959;
@pagination-pager-btn-border-color: #e6e6e6;

.@{c7n-pro-prefix}-btn + .@{c7n-pro-prefix}-btn:not(.@{c7n-pro-prefix}-btn-block) {
  margin-left: 0.1rem;
}

.@{c7n-pro-prefix}-pagination.@{c7n-pro-prefix}-pagination-wrapper {
  .@{c7n-pro-prefix}-btn.@{c7n-pro-prefix}-btn-flat.@{c7n-pro-prefix}-btn-wrapper.@{c7n-pro-prefix}-pagination-pager,
  .@{c7n-pro-prefix}-btn.@{c7n-pro-prefix}-btn-raised.@{c7n-pro-prefix}-btn-wrapper.@{c7n-pro-prefix}-pagination-pager,
  .@{c7n-pro-prefix}-btn.@{c7n-pro-prefix}-btn-flat.@{c7n-pro-prefix}-btn-wrapper.@{c7n-pro-prefix}-pagination-pager:hover,
  .@{c7n-pro-prefix}-btn.@{c7n-pro-prefix}-btn-raised.@{c7n-pro-prefix}-btn-wrapper.@{c7n-pro-prefix}-pagination-pager:hover {
    display: inline-block;
    line-height: 0;
    padding: 0 0.04rem;
    vertical-align: middle;
    width: auto !important;
    min-width: @pagination-pager-btn-min-width !important;
    height: @pagination-pager-btn-height;
    font-size: @font-size-sm;
    background: @component-background;
    border-radius: @input-border-radius;
    color: @pagination-pager-btn-color;
    border: @border-width-base @border-style-base @pagination-pager-btn-border-color;
  }

  .@{c7n-pro-prefix}-btn-primary.@{c7n-pro-prefix}-btn-raised.@{c7n-pro-prefix}-pagination-pager {
    color: rgb(255, 255, 255);
    background-color: rgb(8, 64, 248);
    border-color: rgb(8, 64, 248);
  }

  .@{c7n-pro-prefix}-pagination-pager {
    min-width: @pagination-pager-btn-min-width;
    height: @pagination-pager-btn-height;

    .@{iconfont-css-prefix},
    .icon {
      line-height: 1;
      font-size: @font-size-sm;
    }
  }
}
