@iconfont: ~'~choerodon-ui-font';

// color palette import (needed for color calculation)
@import '../../../components/style/color/colors';

// The prefix to use on all css classes from c7n.
@c7n-prefix: c7n;
@c7n-pro-prefix: c7n-pro;

// -------- Colors -----------
@primary-color: @blue-6;
@info-color: @blue-6;
@success-color: @green-6;
@processing-color: @primary-color;
@error-color: @red-6;
@highlight-color: @red-6;
@warning-color: @gold-6;

// Color used by default to control hover and active backgrounds
@primary-1: color(~`colorPalette('@{primary-color}', 1) `);
@primary-2: color(~`colorPalette('@{primary-color}', 2) `);
@primary-3: color(~`colorPalette('@{primary-color}', 3) `);
@primary-4: color(~`colorPalette('@{primary-color}', 4) `);
@primary-5: color(~`colorPalette('@{primary-color}', 5) `);
@primary-6: @primary-color;
@primary-7: color(~`colorPalette('@{primary-color}', 7) `);
@primary-8: color(~`colorPalette('@{primary-color}', 8) `);
@primary-9: color(~`colorPalette('@{primary-color}', 9) `);
@primary-10: color(~`colorPalette('@{primary-color}', 10) `);

// Base Scaffolding Variables
@body-background: #fff;
@component-background: #fff;
@font-family-no-number: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
@font-family: 'Monospaced Number', @font-family-no-number;
@heading-color: fade(#000, 85%);
@text-color: fade(#000, 100%);
@text-color-secondary: fade(#000, 45%);
@text-color-dark: fade(#fff, 100%);
@font-size-base: 0.13rem;
@font-size-lg: 0.16rem;
@font-size-sm: 0.12rem;
@font-weight-base: 400;
@line-height-base: 1.5;
@border-radius-lg: 0.1rem;
@border-radius-base: 0.02rem;
@border-radius-sm: 0.02rem;

// paddings
@padding-lg: 0.24rem;
@padding-md: 0.16rem;
@padding-sm: 0.12rem;
@padding-xs: 0.08rem;
@padding-vertical-base: 0.01rem;
@padding-vertical-sm: 0.01rem;
@padding-vertical-lg: 0.06rem;

// vertical padding for all form controls
@control-padding-horizontal: @padding-sm;
@control-padding-horizontal-sm: @padding-xs;

// The background colors for active and hover states
@item-active-bg: rgba(140, 158, 255, 0.12);
@item-hover-bg: @background-color-light;

// LINK
@link-color: @primary-color;
@link-hover-color: color(~`colorPalette('@{link-color}', 5) `);
@link-active-color: color(~`colorPalette('@{link-color}', 7) `);

// Animation
@animation-duration-slow: 0.3s;
@animation-duration-base: 0.2s;
@animation-duration-fast: 0.1s;

// Border color
@border-color-base: #e0e0e0;
@border-color-split: hsv(0, 0, 91%);
@border-width-base: 0.01rem;
@border-style-base: solid;

@background-color-light: fade(#000, 4%);
@background-color-base: hsv(0, 0, 96%);

// Disabled states
@disabled-color: fade(#000, 25%);
@disabled-bg: @background-color-base;
@disabled-color-dark: fade(#fff, 35%);

// Shadow
@shadow-color: rgba(0, 0, 0, 0.12);
@box-shadow-base: @shadow-1-down;
@shadow-1-up: 0 -0.02rem 0.08rem @shadow-color;
@shadow-1-down: 0 0.02rem 0.08rem @shadow-color;
@shadow-1-left: -0.02rem 0 0.08rem @shadow-color;
@shadow-1-right: 0.02rem 0 0.08rem @shadow-color;
@shadow-2: 0 0.04rem 0.12rem @shadow-color;

// Buttons
@btn-font-weight: @font-weight-base;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;
@btn-border-radius-lg: @btn-border-radius-base;

@btn-danger-color: @error-color;
@btn-danger-bg: rgba(0, 0, 0, 0);
@btn-danger-border: @border-color-base;

@btn-disable-color: @disabled-color;
@btn-disable-bg: transparent;
@btn-disable-border: @border-color-base;

@btn-line-height: 1.5;
@btn-padding-vertical-base: 0rem;
@btn-padding-horizontal-base: 0.12rem;
@btn-padding-base: @btn-padding-vertical-base @btn-padding-horizontal-base;
@btn-padding-vertical-lg: @btn-padding-vertical-base;
@btn-padding-horizontal-lg: @btn-padding-horizontal-base;
@btn-padding-lg: @btn-padding-vertical-lg @btn-padding-horizontal-lg;
@btn-padding-vertical-sm: @padding-vertical-sm;
@btn-padding-horizontal-sm: 0.06rem;
@btn-padding-sm: @padding-vertical-sm @btn-padding-horizontal-sm;
@btn-font-size-base: unset;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-sm;

@btn-height-base: 0.3rem;
@btn-height-lg: 0.4rem;
@btn-height-sm: 0.24rem;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;
@btn-circle-border-radius: 50%;

@btn-group-border: @primary-5;
@btn-group-spacing: 0.1rem;

@btn-icon-size: 0.14rem;
@btn-icon-size-lg: @font-size-lg;
@btn-icon-size-sm: @font-size-sm;
@btn-icon-only-size: 0.2rem;
@btn-icon-only-size-sm: 0.14rem;
@btn-icon-only-size-lg: 0.24rem;
@btn-icon-font-weight: inherit;
@btn-icon-margin: 0 0.05rem 0 0;

// raised button
@btn-raised-border-width-base: 0rem;
@btn-raised-border-style-base: solid;

// button primary
@btn-primary-color: @text-color-dark;
@btn-primary-bg: @primary-color;
@btn-primary-border: @btn-primary-bg;
@btn-primary-focus-color: @btn-primary-color;
@btn-primary-focus-bg: color(~`colorPalette('@{btn-primary-bg}', 7) `);
@btn-primary-hover-color: @btn-primary-focus-color;
@btn-primary-hover-bg: @btn-primary-focus-bg;
@btn-primary-disabled-color: @btn-primary-color;
@btn-primary-flat-color: @btn-primary-bg;

// button secondary
@btn-secondary-color: @text-color-dark;
@btn-secondary-bg: @primary-4;
@btn-secondary-border: @primary-color;
@btn-secondary-focus-color: @btn-secondary-color;
@btn-secondary-focus-bg: @primary-7;
@btn-secondary-hover-color: @btn-secondary-color;
@btn-secondary-hover-bg: @btn-secondary-focus-bg;
@btn-secondary-disabled-color: @btn-secondary-color;
@btn-secondary-flat-color: @btn-secondary-bg;

// button gray
@btn-gray-color: @text-color;
@btn-gray-bg: #f5f5f5;
@btn-gray-border: @btn-gray-bg;
@btn-gray-focus-color: @btn-gray-color;
@btn-gray-focus-bg: #e6e6e6;
@btn-gray-hover-color: @btn-gray-focus-color;
@btn-gray-hover-bg: @btn-gray-focus-bg;
@btn-gray-disabled-color: @btn-gray-color;
@btn-gray-flat-color: #d0d0d0;

// button blue
@btn-blue-color: @text-color-dark;
@btn-blue-bg: @blue-6;
@btn-blue-border: @btn-blue-bg;
@btn-blue-focus-color: @btn-blue-color;
@btn-blue-focus-bg: @blue-7;
@btn-blue-hover-color: @btn-blue-focus-color;
@btn-blue-hover-bg: @btn-blue-focus-bg;
@btn-blue-disabled-color: @btn-blue-color;
@btn-blue-flat-color: @btn-blue-bg;

// button green
@btn-green-color: @text-color-dark;
@btn-green-bg: @green-6;
@btn-green-border: @btn-green-bg;
@btn-green-focus-color: @btn-green-color;
@btn-green-focus-bg: @green-7;
@btn-green-hover-color: @btn-green-focus-color;
@btn-green-hover-bg: @btn-green-focus-bg;
@btn-green-disabled-color: @btn-green-color;
@btn-green-flat-color: @btn-green-bg;

// button red
@btn-red-color: @text-color-dark;
@btn-red-bg: @red-6;
@btn-red-border: @btn-red-bg;
@btn-red-focus-color: @btn-red-color;
@btn-red-focus-bg: @red-7;
@btn-red-hover-color: @btn-red-focus-color;
@btn-red-hover-bg: @btn-red-focus-bg;
@btn-red-disabled-color: @btn-red-color;
@btn-red-flat-color: @btn-red-bg;

// button yellow
@btn-yellow-color: @text-color-dark;
@btn-yellow-bg: @yellow-6;
@btn-yellow-border: @btn-yellow-bg;
@btn-yellow-focus-color: @btn-yellow-color;
@btn-yellow-focus-bg: @yellow-7;
@btn-yellow-hover-color: @btn-yellow-focus-color;
@btn-yellow-hover-bg: @btn-yellow-focus-bg;
@btn-yellow-disabled-color: @btn-yellow-color;
@btn-yellow-flat-color: @btn-yellow-bg;

// button purple
@btn-purple-color: @text-color-dark;
@btn-purple-bg: @purple-6;
@btn-purple-border: @btn-purple-bg;
@btn-purple-focus-color: @btn-purple-color;
@btn-purple-focus-bg: @purple-7;
@btn-purple-hover-color: @btn-purple-focus-color;
@btn-purple-hover-bg: @btn-purple-focus-bg;
@btn-purple-disabled-color: @btn-purple-color;
@btn-purple-flat-color: @btn-purple-bg;

// button dark
@btn-dark-color: @text-color-dark;
@btn-dark-bg: @dark-4;
@btn-dark-border: @btn-dark-bg;
@btn-dark-focus-color: @btn-dark-color;
@btn-dark-focus-bg: @dark-5;
@btn-dark-hover-color: @btn-dark-focus-color;
@btn-dark-hover-bg: @btn-dark-focus-bg;
@btn-dark-disabled-color: @btn-dark-color;
@btn-dark-flat-color: @dark-6;

// button default
@btn-default-color: @text-color;
@btn-default-bg: transparent;
@btn-default-border: @border-color-base;
@btn-default-focus-color: @btn-primary-bg;
@btn-default-focus-bg: @btn-default-bg;
@btn-default-hover-color: @btn-default-color;
@btn-default-hover-bg: @btn-default-focus-bg;
@btn-default-disabled-color: @btn-default-color;
@btn-default-flat-color: @btn-default-color;

// Form
// ---
@label-required-color: @highlight-color;
@label-color: inherit;
@label-color-horizontal: @label-color;
@label-color-vertical: @label-color;
@label-font-weight: @font-weight-base;
@label-colon-color: inherit;
@label-line-height: @input-height-base;
@label-white-space: nowrap;
@label-wrapper-padding-vertical: 0.1rem;
@label-wrapper-padding-horizontal: 0.04rem;
@label-wrapper-padding: @label-wrapper-padding-vertical @label-wrapper-padding-horizontal;
@label-vertical-wrapper-padding-vertical: 0rem;
@label-output-wrapper-padding-vertical: 0.01rem;
@field-help-color: @text-color-secondary;
@field-icon-help-color: @text-color-secondary;
@field-icon-help-font-size: @icon-font-size-sm;
@form-item-wrapper-padding-vertical: 0.1rem;
@form-item-wrapper-padding-horizontal: 0.05rem;
@form-item-wrapper-padding: @form-item-wrapper-padding-vertical @form-item-wrapper-padding-horizontal;
@form-item-wrapper-output-padding-vertical: 0.01rem;
@form-item-margin-top: 0.07rem;
@form-item-margin-bottom: 0.2rem;
@form-item-trailing-colon: true;
@form-vertical-label-padding: 0 0 0.08rem;
@form-vertical-label-margin: 0rem;
@float-label-wrapper-border-top-color: @component-background;
@float-label-transform-origin-high: 0.1rem -330%;
@float-label-height-base: 0.36rem;
@float-label-height-lg: 0.4rem;
@float-label-height-sm: 0.3rem;
@float-label-autofill-margin: 0.02rem;
@float-label-line-height: 0.34rem;
@float-label-line-height-lg: 0.38rem;
@float-label-line-height-sm: 0.28rem;
@float-label-color: @label-color;
@float-label-font-size: .15rem;
@float-label-font-weight: 500;
@float-label-active-height: @float-label-line-height;
@float-label-active-bg: unset;
@float-label-active-padding: 0rem;
@float-form-item-margin-top: @form-item-margin-top;
@float-form-item-margin-bottom: @form-item-margin-bottom;
@float-form-item-wrapper-padding-vertical: 0rem;

// Input
// ---
@input-primary-color: @primary-color;
@input-height-base: 0.3rem;
@input-height-lg: 0.4rem;
@input-height-sm: 0.24rem;
@input-font-size-base: @font-size-base;
@input-font-weight-base: unset;
@input-line-height-base: @line-height-base;
@input-padding-horizontal: @control-padding-horizontal - 0.02rem;
@input-padding-horizontal-base: @input-padding-horizontal;
@input-padding-horizontal-sm: @control-padding-horizontal-sm - 0.02rem;
@input-padding-horizontal-lg: @input-padding-horizontal;
@input-padding-vertical-base: @padding-vertical-base;
@input-padding-vertical-sm: @padding-vertical-sm;
@input-padding-vertical-lg: @padding-vertical-lg;
@input-placeholder-color: hsv(0, 0, 75%);
@input-placeholder-disabled-color: @input-placeholder-color;
@input-info-color: fade(@text-color, 54%);
@input-active-color: @text-color;
@input-active-box-shadow: none;
@input-color: rgb(0, 0, 0);
@input-baseline-color: rgba(0, 0, 0, 0.54);
@input-border-color: #d9d9d9;
@input-border-radius: @border-radius-base;
@input-error-border-color: @error-color;
@input-error-active-box-shadow: @input-active-box-shadow;
@input-required-border-color: @input-border-color;
@input-highlight-border-color: #47B881;
@input-wrapper-bg: @component-background;
@input-bg: transparent;
@input-required-bg: @yellow-1;
@input-error-bg: @error-bg-color;
@input-addon-bg: @background-color-light;
@input-focus-border-color: color(~`colorPalette('@{input-primary-color}', 3) `);
@input-hover-border-color: color(~`colorPalette('@{input-primary-color}', 5) `);
@input-disabled-bg: @disabled-bg;
@input-disabled-color: rgba(0, 0, 0, 0.54);
@input-disabled-icon-color: @input-disabled-color;
@input-disabled-selection-color: @input-disabled-color;
@input-icon-width-base: 0.24rem;
@input-icon-width-lg: 0.3rem;
@input-icon-width-sm: 0.2rem;
@input-icon-color: inherit;
@input-prefix-width-base: @input-icon-width-base;
@input-prefix-color: inherit;
@input-suffix-width-base: @input-icon-width-base;
@input-suffix-height: 0.2rem;
@input-suffix-color: inherit;
@input-suffix-hover-color: @input-suffix-color;
@input-suffix-error-color: @input-suffix-color;
@input-button-width: @input-suffix-width-base;
@input-wrapper-border-radius: unset;

// Spin
// ---
@spin-dot-size-sm: 0.2rem;
@spin-dot-size: 0.3rem;
@spin-dot-size-lg: 0.5rem;

// Progress
// --
@progress-default-color: @processing-color;
@progress-remaining-color: @background-color-base;
@progress-loading-size-sm: 0.2rem;
@progress-loading-size-base: 0.3rem;
@progress-loading-size-lg: 0.5rem;

// Table
// --
@table-border: @border-width-base @border-style-base @table-border-color;
@table-outermost-border-top: @table-border;
@table-outermost-border-bottom: @table-border;
@table-cell-border-right: @border-width-base @border-style-base transparent;
@table-cell-border-bottom: @table-border;
@table-outermost-bordered-border-right: @table-border;
@table-outermost-bordered-border-left: @table-border;
@table-tfoot-cell-border-top: @table-border;
@table-last-row-cell-border-bottom: @border-width-base @border-style-base transparent;
@table-notbordered-thead-hover-border-right-color: @table-border-color;
@table-notbordered-body-border-bottom-color: @table-border-color;
@table-header-bg: @background-color-light;
@table-header-color: @heading-color;
@table-header-font-weight: 700;
@table-header-sort-bg: @background-color-base;
@table-row-hover-bg: @item-hover-bg;
@table-row-hover-editable-bg: unset;
@table-current-row-bg: @item-active-bg;
@table-even-row-bg: fade(#000, 2%);
@table-cell-focus-bg: fade(#000, 8%);
@table-selected-row-bg: fade(#a1c2fa, 16%);
@table-expanded-row-bg: #fbfbfb;
@table-mouse-batch-choose-bg: @table-selected-row-bg;
@table-padding-vertical: 0.05rem;
@table-padding-horizontal: @input-padding-horizontal;
@table-cell-font-weight: 400;
@table-cell-padding-vertical-base: 0.01rem;
@table-cell-padding-horizontal-base: 0.01rem;
@table-cell-padding-vertical-sm: @table-cell-padding-vertical-base;
@table-cell-padding-horizontal-sm: @table-cell-padding-horizontal-base;
@table-header-cell-padding-vertical-base: @table-cell-padding-vertical-base;
@table-header-cell-padding-horizontal-base: @table-cell-padding-horizontal-base;
@table-header-cell-padding-vertical-sm: @table-cell-padding-vertical-sm;
@table-header-cell-padding-horizontal-sm: @table-cell-padding-horizontal-sm;
@table-footer-cell-padding-vertical-base: @table-cell-padding-vertical-base;
@table-footer-cell-padding-horizontal-base: @table-cell-padding-horizontal-base;
@table-footer-cell-padding-vertical-sm: @table-cell-padding-vertical-sm;
@table-footer-cell-padding-horizontal-sm: @table-cell-padding-horizontal-sm;
@table-border-color: @border-color-base;
@table-icon-help-color: @primary-color;
@table-icon-help-content: '\e8fd';
@table-icon-help-size: @icon-font-size-base;
@table-icon-help-font-weight: inherit;
@table-icon-sort-hover-color: @primary-color;
@table-icon-sort-active-color: @table-icon-sort-hover-color;
@table-professional-query-button-padding: 0.1rem 0 0.1rem 0.7rem;
@table-professional-query-button-vertical-padding: 0.3rem 0 0.1rem 0.7rem;
@table-buttons-more-dropdown-item-padding: 0 0.08rem;

// Pagination
@pagination-item-size: 0.32rem;
@pagination-item-size-sm: 0.2rem;
@pagination-item-size-lg: 0.4rem;
@pagination-font-family: Arial;
@pagination-font-weight-active: 500;
@pagination-size-changer-not-editable-border-color: transparent;
@pagination-size-changer-margin: 0rem;
@pagination-quick-jumper-margin: 0 0 0 .2rem;
@pagination-quick-jumper-border-color: transparent;
@pagination-color: unset;
@pagination-pager-height: @btn-circle-size;
@pagination-pager-min-width: unset;

// z-index list
@zindex-modal-container: 1000;
@zindex-popup-container: 1050;
@zindex-affix: 10;
@zindex-back-top: 10;
@zindex-modal-mask: 1000;
@zindex-modal: 1000;
@zindex-notification: 1030;
@zindex-message: 1030;
@zindex-popover: 1030;
@zindex-picker: 1050;
@zindex-dropdown: 1050;
@zindex-tooltip: 1060;

// error-bg-color
@error-bg-color: #fcebeb;

// icon font sizes
@icon-font-size-base: .18rem;
@icon-font-size-sm: .16rem;
@icon-font-size-lg: .2rem;
